.bgpink {
  background-color: #ed0677;
}
.formInputMain {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formInputMain input {
  height: 45px;
  border: none;
  padding: 0 25px;
}
.textarea {
  height: 170px;
  border: none;
  width: 100%;
}
.button {
  padding: 10px 45px;
  border: none;
  background-color: #034ea2;
  color: white;
}
.text_fields {
  font-size: 40px;
  font-family: Nunito Sans;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .textarea {
    margin-top: 20px;
  }
}
